.service-tab .links {
    border: 1px solid #bbbbbb7c;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: white;
    cursor: pointer;
}

.service-tab-content {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
}

.service-tab .arrow {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #7a7a7af1;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    background-color: white;
    width: fit-content;
    border-radius: 2px;
    box-shadow: 0px 0px 13px -5px rgba(99,99,99,1);
}

.links {
    text-decoration: none;
    color: black;
}